body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.active {background-color: orange;}
ul.topnav li.right {float: right;}
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}


#mapid { height: 94%; width: 100%; }

.overlay_map {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 314159;
    pointer-events: none;
    font-size: 30px;
}

.overlay_map {
    pointer-events: initial;
}
